* {
    margin: 0%;
    padding: 0%;
}
.containerBase{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    padding:30%;
    margin:3%;
    background-color:#F3F3F3;
    border-color:white;
}  
#ImgLogo{
    background-color:#F3F3F3;
    max-width: 90%;
    width: 350%;
    left: 10%;
    margin-top:-44% ;
}
.inputlogin{
    border-radius: 100px;
    padding: 6% 33%; 
    width: 80%;
    border: 1px solid #D9D9D9;
    outline: none;
    display: block;
    margin: 14% 5% 5% -23%;
    text-align: center;
}
.eyeOpen{
    border-radius: 100px;
    border: none;
    width: 17%;
    padding: 8px;
    color: #c4c4c4;
    margin-top: -23px;
    /* box-shadow: 0 2px 10px -3px; */
    display: block;
    margin: -34% -32% 1% 92%;
}
#btnEnter{
    background-color:#002060;
    border-radius: 100px;
    border: none;
    width: 80%;
    padding: 7px;
    color: #c4c4c4;
    margin-top: 25px;
    box-shadow: 0 2px 10px -3px;
    display: block;
    margin: 14% 10% 3% 11%;
}
#recoverPassword{
    background-color:#346D78;
    font-family: 'Caveat Brush', cursive;
    width: 117%;
    padding: 6px;
    color: #c4c4c4;
    margin-top: 25px;
    box-shadow: 0 2px 10px -3px;
    display: block;
    margin: 8% 0% 6% -9%;
}
#botonGoogle{
    background-size:cover;
    background-color:#F3F3F3;
    margin:-16% 18% -29% 20%;
    padding: 2%;
    width: 56%;
    outline:none;
}   
#btnCheckIn{
    background-color:#002060;
    border-radius: 100px;
    border: none;
    width: 80%;
    padding: 7px;
    color: #c4c4c4;
    margin-top: 25px;
    box-shadow: 0 2px 10px -3px;
    display: block;
    margin: 22% 2% 3% 11%;
}
h3{
    font-family:'Caveat Brush', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 125%;  
    text-align: center;
    color:#346D78;
    width: 148%;
    padding: 0px;
    margin-top: 25px;
    /* box-shadow: 0 2px 10px -3px; */
    display: block;
    margin: 6% 3% 15% -24%;
}  
/* ---------------- template registro--------------  */

.containerBaseRegistro{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 31%;
    margin: 2%;
    margin-top: -7%;
    background-color: #F3F3F3;
    border-color: white;
}  
.img{
    background-color:#F3F3F3;
    max-width: 100%;
    width: 350%;
    left: 10%;
    margin-top:-50% ;
}
.botonGoogle{
    background-size:cover;
    background-color:#F3F3F3;
    margin:13% -8% 2% 17%;
    padding: 8%;
    width: 5%;
    outline:none;
}
#miFoto{
   

}
.form{
    border-radius: 100px;
    padding: 5% 20%; 
    width: 100%;
    height: 20px;
    border: 1px solid #D9D9D9;
    outline: none;
    display: block;
    margin-top: 20%;
    margin-left: -22px;
  
}
#eyeOpenRegister{
    border-radius: 100px;
    border: none;
    width: 17%;
    padding: 8px;
    color: #c4c4c4;
    margin-top: -23px;
    display: block;
    margin: -24% -35% -11% 88%;
}
h2{
  position: absolute;
  width: 254.09px;
  height: 9.87px;
  left: 51.12px;
  top: 563px;
  font-family:'Caveat Brush', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 140.62%;
  text-align: center;
  color: rgba(52, 109, 120, 0.6);
  transform: rotate(0.7deg);
}
#btnRegister{
    background-color:#002060;
    border-radius: 100px;
    border: none;
    width: 110%;
    height: 30px;
    padding: 5px;
    color: #c4c4c4;
    margin-top: 25px;
    box-shadow: 0 2px 10px -3px;
    display: block;
    margin: 37px auto 10px auto; 
    margin-left: 65%;
    margin-top: 70%;
}
/*---------------template Bienvenida---------------- */
.containerBaseBienvenida{
    background-color:#ffffff;    
}
.configuration{
    justify-content: flex-end;
}

#check{
  display: none;
}
#check:checked ~ .menu{
    width: 400px;
}
.menu{
    position: fixed;
    margin-left: 50%;
    top: 35px;
    width: 0px;
    height: 23vh;
    background:#D9D9D9;
    color: black;
    transition: all 300ms;
    overflow: hidden;
    z-index: 10;
   
}
.menu li{
    text-decoration: none;
    list-style: none;
    padding: 10px;
    cursor: pointer; 
    transition: all 300ms;  
    display: block;
    width: 400px;
    
}

.menu li:hover{
    background:#f3f3f3;
   
}

.editar{
    text-decoration: none;
    color: black;
}
.recuperar{
text-decoration: none;
color: black;
}

.icon-menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: fixed;
    margin-left: 86%;
    width: 100%;
    max-width: 1000px;
    top: 16px;
    cursor: pointer;
    z-index: 10;
    background-image: url(./images/configuracion.png);
    background-repeat: no-repeat;
}

/* --------------------templateEditarPerfil---------------*/

#logoNavContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 2%;
    position: relative;
    padding: 1%; 
} 
#navigation ul{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
    margin: 4px;
    margin-top: -22px;
    margin-left: 235px;
    list-style-type: none;
}
#search{
    margin: -25px;
    background-color: #F3F3F3;
    color: #c4c4c4;
    border-radius: 5px;
    background-image: url(images/botonBuscar.png);
    background-repeat: no-repeat;
    text-align: center;

  
}
#contenedorMsmMuro{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    background-color: #f3f3f3;
    width: 85%;
    height: auto;
    margin: 5px 11px;
    padding: 15px;
    border-radius: 20px;

    
}

#menuTitulo{
    margin: 5px;
    padding: 2px;
    width: 136px;
    height: 25px;
    border-radius: 100px;
    background: rgba(52, 109, 120, 0.3);
    font-family: Calibri;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 140.62%;
    color: rgba(0, 0, 0, 0.44);

}

#mensaje{
    margin: 2px;
    padding: 2px;
    width: 88%;
    height: auto;
    border-radius: 100px;
    background: rgba(52, 109, 120, 0.3);
    font-family: Calibri;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 140.62%;
    color: rgba(0, 0, 0, 0.44);
}
#agregar{
    margin: 5px;
    padding: 5px;
    width: 80px;
    height: auto;
    background-color: #002060;
    color: #c4c4c4;
    border-radius: 100px;
}

.postMuro{
    /* position: relative; */
    /* display: flex; */
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 100%;
    height: auto;
    margin: 0vh;
    padding: 0vh;
}

.boxMuro{
    background-color: #f3f3f3;
    margin: 2vh;
    padding: 2vh;
    border-radius: 5%;
}

.icon-menu2{
    
    background-image: url(./images/menuPuntos.png);
    background-repeat: no-repeat;
}


.containerBaseEditarPerfil, .containerBaseRegistro{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    padding:26%;
    margin:3%;
    background-color:#F3F3F3;
    border-color:white;
}
.logoPerfil{
    background-color:#F3F3F3;
    max-width: 60%;
    width: 350%;
    left: -50%;
    margin-top:-45% ;
    position: relative;
    align-items: flex-start;
}

.file{
    display: none;
}

#miFoto{
    position: relative;
    background-color: white;
    background-image: url(images/agregarImg.png);
    background-repeat: no-repeat;
    height: 90px;
    width: 90px;
    border: 0rem;
    background-position: center;
    align-items: flex-end;
    display: flex;
    border-radius: 50%;
    margin-top: 30px;
    margin-left: 20px;
    cursor: pointer;
    text-indent: -999em;
} 

/*#input-file{
    background-color: #002060;
    border-radius: 100px;
    border: none;
    width: 80%;
    padding: 7px;
    color: #c4c4c4;
    margin-top: 25px;
}*/