* {
    margin: 0%;
    padding: 0%;
    background-color: white;
}

#inputImgLogo{
    max-width: 350%;
    width: 350px;
    left: 10%;
 
}
   
#inputImgGoogle{
    
    width: 100px;
     
}
#conteinerLogin{
    background-color: #F3F3F3;;
   
}

#containerBaseLogin{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

#conteinerWall{
    background-color: #F3F3F3;;
    
}
#contendorBaseRegistro{  
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;

}



h2{
position: absolute;
width: 254.09px;
height: 9.87px;
left: 51.12px;
top: 563px;
font-family:'Caveat Brush', cursive;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 140.62%;
/* or 17px */

text-align: center;

color: rgba(52, 109, 120, 0.6);

transform: rotate(0.7deg);
}