* {
    margin: 0%;
    padding: 0%;
}
.containerBase{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    padding:30%;
    margin:3%;
    background-color:#F3F3F3;
    border-color:white;
}  
#ImgLogo{
    background-color:#F3F3F3;
    max-width: 90%;
    width: 350%;
    left: 10%;
    margin-top:-44% ;
}
.inputlogin{
    border-radius: 100px;
    padding: 6% 33%; 
    width: 80%;
    border: 1px solid #D9D9D9;
    outline: none;
    display: block;
    margin: 14% 5% 5% -23%;
    text-align: center;
}
.eyeOpen{
    border-radius: 100px;
    border: none;
    width: 17%;
    padding: 8px;
    color: #c4c4c4;
    margin-top: -23px;
    /* box-shadow: 0 2px 10px -3px; */
    display: block;
    margin: -34% -32% 1% 92%;
}
#btnEnter{
    background-color:#002060;
    border-radius: 100px;
    border: none;
    width: 80%;
    padding: 7px;
    color: #c4c4c4;
    margin-top: 25px;
    box-shadow: 0 2px 10px -3px;
    display: block;
    margin: 14% 10% 3% 11%;
}
#recoverPassword{
    background-color:#346D78;
    font-family: 'Caveat Brush', cursive;
    width: 117%;
    padding: 6px;
    color: #c4c4c4;
    margin-top: 25px;
    box-shadow: 0 2px 10px -3px;
    display: block;
    margin: 8% 0% 6% -9%;
}
#botonGoogle{
    background-size:cover;
    background-color:#F3F3F3;
    margin:-16% 18% -29% 20%;
    padding: 2%;
    width: 56%;
    outline:none;
}   
#btnCheckIn{
    background-color:#002060;
    border-radius: 100px;
    border: none;
    width: 80%;
    padding: 7px;
    color: #c4c4c4;
    margin-top: 25px;
    box-shadow: 0 2px 10px -3px;
    display: block;
    margin: 22% 2% 3% 11%;
}
h3{
    font-family:'Caveat Brush', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 125%;  
    text-align: center;
    color:#346D78;
    width: 148%;
    padding: 0px;
    margin-top: 25px;
    /* box-shadow: 0 2px 10px -3px; */
    display: block;
    margin: 6% 3% 15% -24%;
}  
/* ---------------- template registro--------------  */

.containerBaseRegistro{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    padding:30%;
    margin:3%;
    background-color:#F3F3F3;
    border-color:white;
}  
.img{
    background-color:#F3F3F3;
    max-width: 100%;
    width: 350%;
    left: 10%;
    margin-top:-50% ;
}
.botonGoogle{
    background-size:cover;
    background-color:#F3F3F3;
    margin:13% -8% 2% 17%;
    padding: 8%;
    width: 5%;
    outline:none;
}
.form{border-radius: 100px;
    padding: 5% 20%; 
    width: 80%;
    border: 1px solid #D9D9D9;
    outline: none;
    display: block;
    margin-top: 10%;
}
#eyeOpenRegister{
    border-radius: 100px;
    border: none;
    width: 17%;
    padding: 8px;
    color: #c4c4c4;
    margin-top: -23px;
    display: block;
    margin: -24% -35% -11% 88%;
}
h2{
  position: absolute;
  width: 254.09px;
  height: 9.87px;
  left: 51.12px;
  top: 563px;
  font-family:'Caveat Brush', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 140.62%;
  text-align: center;
  color: rgba(52, 109, 120, 0.6);
  transform: rotate(0.7deg);
}
#btnRegister{
    background-color:#002060;
    border-radius: 100px;
    border: none;
    width: 80%;
    padding: 7px;
    color: #c4c4c4;
    margin-top: 25px;
    box-shadow: 0 2px 10px -3px;
    display: block;
    margin: 37px auto 10px auto; 
}
/*---------------template Bienvenida---------------- */
.containerBaseBienvenida{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    padding:30%;
    margin:3%;
    background-color:#F3F3F3;
    border-color:white;
}
.logoNavContainer{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 35%;
    width: 100%;
    margin: -38% 6% 12% -31%;
}
.search{
    border-radius: 20%;
} 
ul {
    list-style: none;
    margin: 0%;
    padding: 0%;
}
ul li {
    display: inline-block;
}
ul li a{
    display: block;
    padding: 0.5rem 2rem;
}
/* --------------------templateEditarPerfil---------------*/
.containerBaseEditarPerfil{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    padding:30%;
    margin:3%;
    background-color:#F3F3F3;
    border-color:white;
    width:2%;
    height:2%;
}
.menu-btn{
    position: absolute;
    z-index: 2;
    right: 20px;
    /* left: 20px; */
    top: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}

