* {
    margin: 0%;
    padding: 0%;
}
 /*----------- template login-------------- */

.containerBase{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    padding:30%;
    margin:3%;
    background-color:#F3F3F3;
    border-color:white;
}  
#ImgLogo{
    background-color:#F3F3F3;
    max-width: 100%;
    width: 350%;
    left: 10%;
    margin-top:-75% ;
}
.inputlogin{
    border-radius: 100px;
    padding: 5% 20%; 
    width: 80%;
    border: 1px solid #D9D9D9;
    outline: none;
    display: block;
    margin: 12% auto 2% auto;
    text-align: center;

}
#btnEnter{
    background-color:#002060;
    border-radius: 100px;
    border: none;
    width: 50%;
    padding: 10px;
    color: #c4c4c4;
    margin-top: 25px;
    box-shadow: 0 2px 10px -3px;
    display: block;
    margin: 19px auto 10px auto;
}
#recoverPassword{
    background-color:#346D78;
    margin: 11%;
    padding: 4%;
    color: #c4c4c4;
}
#botonGoogle{
    background-size:cover;
    background-color:#F3F3F3;
    margin:1% -8% -21% 17%;
    padding: 8%;
    width: 45%;
    outline:none;
}   
#btnCheckIn{
    background-color:#002060;
    border-radius: 100px;
    border: none;
    width: 50%;
    padding: 10px;
    color: #c4c4c4;
    margin-top: 25px;
    box-shadow: 0 2px 10px -3px;
    display: block;
    margin: 37px auto 10px auto;
}
h3{
    font-family:'Caveat Brush', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 125%;  
    text-align: center;
    color:#346D78;
}  
/*---------------- template registro-------------- */

.img{
    background-color:#F3F3F3;
    max-width: 100%;
    width: 350%;
    left: 10%;
    margin-top:-50% ;
}
.botonGoogle{
    background-size:cover;
    background-color:#F3F3F3;
    margin:13% -8% 2% 17%;
    padding: 8%;
    width: 45%;
    outline:none;
}
.form{border-radius: 100px;
    padding: 5% 20%; 
    width: 80%;
    border: 1px solid #D9D9D9;
    outline: none;
    display: block;
    margin-top: 10%;
}
h2{
  position: absolute;
  width: 254.09px;
  height: 9.87px;
  left: 51.12px;
  top: 563px;
  font-family:'Caveat Brush', cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 140.62%;
  text-align: center;
  color: rgba(52, 109, 120, 0.6);
  transform: rotate(0.7deg);
}
#btnRegister{
    background-color:#002060;
    border-radius: 100px;
    border: none;
    width: 50%;
    padding: 10px;
    color: #c4c4c4;
    margin-top: 25px;
    box-shadow: 0 2px 10px -3px;
    display: block;
    margin: 37px auto 10px auto; 

}
/* ---------------template Bienvenida---------------- */

.logoNavContainer{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 35%;
    width: 100%;
    margin: -38% 6% 12% -31%;
}
.search{
    border-radius: 20%;
} 
ul {
    list-style: none;
    margin: 0%;
    padding: 0%;
}
ul li {
    display: inline-block;
}
ul li a{
    display: block;
    padding: 0.5rem 1rem;
}